<app-topbar></app-topbar>
<mat-grid-list [cols]=cols rowHeight="1:1.4">
    <mat-grid-tile>
        <mat-card  style="margin: 5rem 5rem 0 5rem; width: 500px;">
            <div style="padding: 3rem 3rem 2rem 3rem;">
                <img mat-card-image src="../../assets/img/profile.jpg">
            </div>
            <mat-card-header>
              <mat-card-title>Sergio Enrique Guerra Cervantes</mat-card-title>
              <mat-card-subtitle>Pocketmon Trainer</mat-card-subtitle>
            </mat-card-header>

            <label>Age:</label>
            <mat-card-subtitle>22 years</mat-card-subtitle>

            <label >Region:</label>
            <mat-card-subtitle>Sinnoh</mat-card-subtitle>

            <label>Pocketdex Completion:</label>
            <mat-card-subtitle>898</mat-card-subtitle>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="margin: 5rem 5rem 0 5rem; width: 500px;">
            <div style="padding: 3rem 3rem 2rem 3rem;">
                <h1>Informacion de contacto</h1>
                <div>
                    <label>Correo electronico:</label>
                    <mat-card-subtitle>sergioegc07@gmail.com</mat-card-subtitle>
                    
                    <label>Telefono:</label>
                    <mat-card-subtitle>664 306 00 42</mat-card-subtitle>
    
                    <label>Github:</label>
                    <mat-card-subtitle>https://github.com/oixgres</mat-card-subtitle>
                    
                    <label >LinkedIn:</label>
                    <mat-card-subtitle>https://www.linkedin.com/in/sergio-enrique-guerra-cervantes-9a650b209/</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
